<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:location="http://typo3.org/ns/Visol/EasyvoteLocation/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<style>
		#map-canvas {
			width: 100%;
			height: 400px;
		}

		#legend {
			background: white;
			padding: 10px;
		}
	</style>

	<script src="https://maps.googleapis.com/maps/api/js"></script>

	<location:script file="{f:uri.resource(path:'JavaScript/Libraries/MarkerClusterer/markerclusterer.min.js')}"/>
	<location:script file="{f:uri.resource(path:'JavaScript/Libraries/jRespond/jRespond.js')}"/>
	<location:script file="{f:uri.resource(path:'JavaScript/Build/Bundle.js')}"/>
	<location:maps>
		<location:maps.coordinate type="longitude"/>
		<location:maps.coordinate type="latitude"/>
		<location:maps.zoom/>
		<location:maps.toJson objects="{locationTypes}" type="locationType"/>
	</location:maps>

	<div id="container-mobile"></div>

	<div id="map-container">
		<div class="btn-full-screen" style="text-align: right">
			<a href="#" id="btn-enter-full-screen">
				<f:translate key="enter-full-screen"/>
			</a>
			<a href="#" id="btn-exit-full-screen" style="display: none">
				<f:translate key="exit-full-screen"/>
			</a>
		</div>
		<div id="map-canvas"></div>
	</div>

	<style>
		/* Styling of the bubble in the Google Map */
		.gm-style-iw {
			font-family: "Univers LT W01 45 Light", Arial, Helvetica, sans-serif !important;
		}
	</style>
</f:section>

</html>