<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:location="http://typo3.org/ns/Visol/EasyvoteLocation/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">
	<script src="//maps.googleapis.com/maps/api/js"></script>
 	<script src="{f:uri.resource(path:'JavaScript/Libraries/GoogleMapsInfobox/infobox_packed.js')}"></script>
	<location:script file="{f:uri.resource(path:'JavaScript/Libraries/MarkerClusterer/markerclusterer.min.js')}"/>
	<location:script file="{f:uri.resource(path:'JavaScript/Build/Bundle.js')}"/>
	<location:maps>
		<location:maps.coordinate type="longitude"/>
		<location:maps.coordinate type="latitude"/>
		<location:maps.zoom/>
		<location:maps.toJson objects="{locationTypes}" type="locationType"/>
		EasyvoteLocation.Language = '{language}';
		EasyvoteLocation.ContentElementUid = '{contentElementUid}';
	</location:maps>

	<div id="container-mobile">
	</div>

	<div id="map-container">
		<div id="map-canvas"></div>
		<div class="btn-full-screen" style="text-align: right">
			<a href="#" id="btn-enter-full-screen">
				<f:translate key="enter-full-screen"/>
			</a>
			<a href="#" id="btn-exit-full-screen" style="display: none">
				<f:translate key="exit-full-screen"/>
			</a>
		</div>
	</div>

</f:section>

</html>