<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:location="http://typo3.org/ns/Visol/EasyvoteLocation/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<script>
		if (typeof EasyVote !== 'object') {
			window.EasyVote = {}
		}
	</script>

	<div class="content-box">
		<f:form controller="LocationApi" method="search">
			<div class="form-group">

				<label>
					<strong>
						<f:translate key="search"/>
					</strong>
				</label>
				<f:form.textfield class="form-control communityUser-citySelection"
				                  property="citySelection"
				                  additionalAttributes="{required: required}"/>
			</div>
		</f:form>
	</div>
</f:section>

</html>