#map-canvas {
	width: 100%;
	height: 400px;
}

#legend {
	background: rgba(255, 255, 255, 0.71);
	min-width: 135px;
	padding: 10px;
	div {
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 0;
		}
		img {
			margin-right: 5px;
			width: 30px;
			height: 35px;
		}
	}
}

.maps-infoBox {
	z-index: 1009;
	background: #0E6CA3;
	padding: 10px;
	color: white;
	font-size: 130%;
	border-radius: 5px;
	.header {
		position: relative;
		.participants {
			position: absolute;
			top: 0;
			right: 20px;
			font-weight: bold;
			font-size: 16px;
		}
	}
	.description {
		.organizer {
			font-size: 11px;
			margin-bottom: 10px;
		}
		a {
			color: @pink;
			text-shadow: 0px 0px 1px #ffffff;
			&:hover {
				color: @pink;
				text-decoration: underline;
			}
		}
	}
	.button-mobilize {
		display: none;
	}
}

.maps-infoBox:after,
.maps-infoBox:after {
	z-index: -1;
	position: absolute;
	top: 98.1%;
	left: 70%;
	margin-left: -25%;
	content: '';
	width: 0;
	height: 0;
	border-top: solid 15px #0E6CA3;
	border-left: solid 15px transparent;
	border-right: solid 15px transparent;
}

@media (max-width: @screen-sm-max) {
	#map-canvas {
		height: 500px;
	}
}